{% extends 'base.html' %}

{% block main %}
<nav>
    <b><a href="{{ url_for('index') }}">ROI Dashboard</a></b>
</nav>
<hr>
<script>
    function validateForm() {
      var x = document.forms["myForm"]["User"].value;
      var y = document.forms["myForm"]["Storage Size"].value;
      if (x == "" || x == null) {
        if (y == "" || y == null) {
        alert("User and storage size must be filled out");
        return false;
      }
      else{
        alert("User Name must be filled out");
        return false;
      }

    }
    if (y == "" || y == null) {
        alert("storage size must be filled out");
        return false; 
    }
    }
     
  
    </script>
<form name="myForm" action='/index' method="POST" onsubmit="return validateForm()" method="post" required>

    <!-- User Data Input -->
    <b><label for="User">User</label></b>
    <input placeholder="Name of Person" name="User" type="text" value="{{request.form['User']}}"></input>
    <br></br>

    <!-- Cloud Data Input -->
    <b>
        <lable>Cloud</lable>
    </b>
    <select name="Cloud">
        <option value="GCP">GCP</option>
        <option value="Azure">Azure</option>
        <option value="AWS">AWS</option>
    </select>
    <br></br>

    <!-- Node Data Input -->
    <!-- OS -->
    <b>
        <lable>OS Image</lable>
    </b>
    <select name="OS">
        <option value="Linux">Linux</option>
        <option value="RHEL">RHEL</option>
        <option value="Windows">Windows</option>
    </select>

    <!-- RAM -->
    <b>
        <label for="RAM"> RAM</label>
    </b>
    <select name="RAM">
        <option value=0.75>1</option>
        <option value=1.75>1.75</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=3.5>3.5</option>
        <option value=4>4</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=14>14</option>
        <option value=16>16</option>
        <option value=32>32</option>
        <option value=48>48</option>
        <option value=56>56</option>
        <option value=64>64</option>
        <option value=80>80</option>
        <option value=96>96</option>
        <option value=112>112</option>
        <option value=128>128</option>
        <option value=144>144</option>
        <option value=160>160</option>
        <option value=176>176</option>
        <option value=184>184</option>
        <option value=192>192</option>
        <option value=256>256</option>
        <option value=320>320</option>
        <option value=384>384</option>
        <option value=512>512</option>
    </select>

    <!-- vCPUs -->
    <b>
        <lable>Number of vCPUs</lable>
    </b>
    <select name="vCPUs">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=4>4</option>
        <option value=8>8</option>
        <option value=16>16</option>
        <option value=32>32</option>
        <option value=48>48</option>
        <option value=64>64</option>
        <option value=80>80</option>
        <option value=96>96</option>
        <option value=128>128</option>
        <option value=192>192</option>
    </select>
    <br></br>

    <!-- Number of Nodes -->
    <b>
        <lable>Number of Nodes</lable>
    </b>
    <select name="No of Nodes">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
    </select>
    </br><br>

    <!-- Storage Data Input -->
    <!-- Type -->
    <b>
        <lable>Type of Storage</lable>
    </b>
    <select name="Storage Type">
        <option value="Magnetic">Magnetic</option>
        <option value="SSD">SSD</option>
    </select>

    <!-- Size -->
    <b>
        <label for="fname">Storage Size of each block</label>
    </b>
    <input type="text" placeholder="Enter Size in GB" name="Storage Size" value="{{request.form['NodeStorage']}}">
    <br><br>

    <b>
        <lable>Number of Storage Units</lable>
    </b>
    <select name="Storage Unit Quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
    </select>
    </br></br>
    <button type="submit" name="submit_button" value="submit">Submit</button>
    <button type="submit" name="submit_button" value="compare">Compare</button>

</form>
<hr>
{% include 'view.html' %}
{% include 'bargraph.html' %}
{% endblock %}